:root{
    --website-width: 1280px;
    --main-color:  #ffbc00;
    --light-color:#f4f4f4;
    --medium-color:#ccc;
    --dark-color:#333;
    
    
}
/*Tablets and Smaller*/
@media(max-width:800px){
    #header-home{
height:30rem;
    }
    .header-content{
padding-top: 5rem;
    }
}
/*Smartphones*/
@media(max-width:500px){
    #main-nav{
        flex-direction: column;
        align-items: center;
    }
    #main-nav li{
        padding:1rem;
    }
    #header-home{
        height:10rem;
        border-bottom: 2px solid var(--main-color);

    }
    #header-home .header-content{
        display: none;
    }
    #header-inner{
        height:10rem;
    }
    #home-a .specials,
    #home-b .stats,
    #home-c .process,
    .items{
grid-template-columns: 1fr;
    }
    #about-d .testimonials .manager-img,
    #about-d .testimonials .manager-feedback{
        display: block;
        width: 100%;

    }
    #about-d .testimonials .manager-img{
        text-align:center;
        margin-bottom: 10px;
    }
    #home-a .specials div{
        border-bottom: 1px var(--light-color) solid;
        padding-bottom: 1rem;
    }
    #home-a .specials div:last-child{
        border:none;
        padding-bottom: 0;
    }
    #home-b .stats div{
        padding: 2rem 0 1rem 0;
    }
    #about-a .about-info{
    grid-template-areas:  'bioimage' 'bio';
    }
    .porfolio-menu ul{
        padding: 10px;
    }
    .porfolio-menu ul li{
        display: block;
    }
    
}
/*Landscape*/
@media (max-height:330px){
    #header-home .header-content{
        padding-top: 3rem;
    }
}
/*modal*/
@media (min-width: 576px){
    .modal-dialog {
        min-width: 700px;
        margin: 1.75rem auto;
    }
}
@media (min-width: 768px){
    .modal-dialog {
        min-width: 700px;
        margin: 30px auto;
    }
}

